<%-include("partials/header") %>
<div class="ui main text container segment">
       <div class="ui huge header"><%= blog.name %></div>
       <div class="ui top attached segment">
            <div class="item">
                <img class="ui rounded centered image" src="<%= blog.image%>">
                <div class="content">
                    <p><%= blog.created.toDateString() %></p>
                </div>
                <div class="description">
                    <p><%- blog.body %></p>

                </div>
                <a class="ui orange small basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
                <form id="delete" action="/blogs/<%= blog._id %>?_method=delete" method="post">
                <button class="ui red small basic button">DELETE</button>
                </form>
           
            </div>
          
       </div>
</div>

<%-include("partials/footer") %>